* {
  box-sizing: border-box;
}

.cube {
  margin: 50px auto; 
  perspective: 800px;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;  
  width: 200px;
}

.cube > div {
  height: 400px;
  padding: 10px;
  position: absolute;
  width: 400px;  
}

@keyframes fadein {
  0%  {opacity: 0;}
  100% {opacity: 1;}
}

.animate {
  animation: spin .5s ease-in-out forwards;
}

.fadein {
  animation: fadein .5s ease-in-out forwards;
}

button {
  background-color: #68CCCC;
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 200px; 
}
